

button[type="submit"] {
  display: block;
  width: 60%;
  margin: 0 auto;
  height: auto;
  font-size: 1.1rem;
  background-color: var(--secondary-bg-color);
  min-width: 300px;
}

label {
  font-weight: 600;
  font-size: larger;
}

form {
  overflow-y: auto;
  /* width: 50vw; */
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.add-product-container {
  overflow-y: auto;
  width: 50vw;
  max-width: 550px;
  min-width: 400px;
  margin: 20px auto;
  border: 5px solid rgb(93, 0, 255);
  border-radius: 10px;
  background-color: #ffffff;
  border: 5px solid var(--primary-bg-color);
  background-color: var(--background-color);
}


input,textarea,select {
  background-color: #eee;
  border: none;
  padding: 10px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: medium;
  border-radius: 5px;
  background-color: var(--grey-bg-color);
}

button {
  border-radius: 10px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--secondary-bg-color);
  color: var(--text-color);
}

button:active {
  transform: scale(0.95);
}
